

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 5s linear;
    height: 60px;
    
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-div{
 display: flex;
 

}

.logo-text{
  font-family: Segoe UI;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    
   
}
